auth:
  uri: "https://ident.services"
  client_id: "sync-account@yourdomain.com"
  client_secret: "your-sync-account-client-secret"
samedis:
  uri: "https://sync.samedis.care"
  api_version: "v4"
  tenant_id: "63f5c0491b57cc000df2b2c7"
logging:
  # 0: off 1: on 2: debug
  level: 1
  # 0: none 1: console 2: logfile 3: console & logfile
  mode: 2
http:
  valid_certificate: true
  proxy: ""
  proxy_username: ""
  proxy_password: ""
# choose excel, sql
import_mode: "sql"
import_file: "import/import.xlsx"
import_sql:
  # SqlServer, MySql, SQLite, Oracle
  database_type: SqlServer
  server: "your_server"
  port: "your_port"
  database: "your_database"
  username: "your_username"
  password: "your_password"
  allow_public_key_retrieval: true # Only applicable for MySQL
  staff_query: "import/_export_staff.sql"
import_ldap:
  server: "yourserver.local"
  path: "ou=YourOrgUnit,dc=test,dc=local"
  ssl: false
  username: "your_username"
  password: "your_password"
  filter: "(&(objectCategory=person)(objectClass=user))"
  mapping: "{ \"Nachname\": \"sn\", \"Vorname\": \"givenName\", \"Personalnummer\": \"employeeID\", \"Eintrittsdatum\": \"whenCreated\", \"Austrittsdatum\": \"extensionAttribute10\", \"E-Mail\": \"mail\", \"Titel\": \"title\", \"Bemerkungen\": \"description\", \"Handynummer\": \"mobile\" }"
